<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
    <main id="content">
      <h3 class="content__heading"><%= title %> Us</h3>
      <p class="content__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorum
        a, alias doloremque mollitia veritatis officia id beatae accusamus, odit
        ullam fuga, quidem dicta debitis ratione. Quae vitae fuga est sint
        sapiente maxime soluta hic laudantium, consequuntur, possimus animi
        repudiandae mollitia fugit doloremque eos tempora odio tempore aut
        aspernatur laborum.
      </p>
      <button type="button" class="content__btn">Find Us</button>
    </main>
  </body>
</html>
