<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home &dash; Learning Node & Express JS</title>
  </head>
  <body>
    <h2>Welcome to Home page of Node & Express JS</h2>
    <p class="leadText">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, quasi
      nesciunt adipisci odit laudantium rem commodi at enim. Facilis ex
      doloremque cumque? Ab temporibus culpa quidem ad voluptatem nulla quod
      odio necessitatibus. Fugit veritatis optio odit cumque, deleniti
      voluptatem nobis quam illo obcaecati inventore assumenda eos cum voluptate
      ullam culpa!
    </p>
  </body>
</html>
